<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="goods">

<select id="list" resultType="goods.GoodsVO">
select rownum, g.*, s.store_name
from goods g
inner join store s on s.store_no = g.store_no
where g.goods_middle_category = #{goods_middle_category}
<!-- select G.* , GO.*, S.STORE_NAME -->
<!-- from  -->
<!-- GOODS G INNER JOIN GOODS_OPTION GO  -->
<!-- ON G.GOODS_NO = GO.GOODS_NO  -->
<!-- INNER JOIN STORE S -->
<!-- ON S.STORE_NO = G.STORE_NO -->
<!-- WHERE GOODS_MIDDLE_CATEGORY = #{GOODS_MIDDLE_CATEGORY} -->
</select>
	
<select id="stylelist" resultType="goods.GoodsVO">
select rownum, g.*, s.store_name
from goods g
inner join store s on s.store_no = g.store_no
where g.goods_style = #{goods_style}
</select>	
	
<select id="subcategorylist" resultType="goods.GoodsVO">
SELECT ROWNUM, g.*, s.store_name
FROM goods g
INNER JOIN store s ON s.store_no = g.store_no
WHERE g.goods_middle_category = #{goods_middle_category} AND g.goods_sub_category = #{goods_sub_category}
</select>	

<select id="goodsboard" resultType="goods.GoodsVO">
select g.*, s.store_name , s.store_delivery_tip
from 
goods g inner join store s
on s.store_no = g.store_no
where g.goods_no = #{goods_no}
</select>	


<select id="search" resultType="goods.GoodsVO">
    SELECT *
     FROM GOODS 
     WHERE GOODS_NAME LIKE '%' || #{keyword} || '%'
</select>	



</mapper>