<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="member">

<select id="login" resultType="member.MemberVO">
	SELECT * 
	FROM member 
	where member_id = #{member_id} and member_pw = #{member_pw} 
</select>


<!-- id 중복체크 -->
<select id="idcheck" resultType="member.MemberVO">
	SELECT * 
	FROM member 
	where member_id = #{member_id} 
</select>

<!-- 주문 배송지정보 -->
<select id="order" resultType="member.MemberVO">
	SELECT 	member_name, member_phone, member_address 
	FROM 	member 
	where 	member_id = #{member_id}
	and		member_pw = #{member_pw} 
</select>


<select id="check" resultType="member.MemberVO">
	SELECT 	member_id, member_name
	FROM 	member 
	WHERE	member_id = #{member_id}
	AND		member_name= #{member_name} 
</select>


<!-- 폰으로 아이디찾기 -->
<select id="findid" resultType="member.MemberVO">
	SELECT  member_id, to_char(member_create,'yyyy-MM-DD')AS MEMBER_CREATE
	FROM    member
	WHERE   member_name = #{member_name}
	AND		member_phone = #{member_phone}
</select>



<!-- 폰으로 비밀번호 찾고 비번변경 -->
<update id="resetPw">
UPDATE 	member 
SET 	member_pw = #{member_pw} 
WHERE 	member_id = #{member_id} 
AND 	member_name = #{member_name}
AND		member_phone = #{member_phone}
</update>


<!-- 회원가입: 회원정보신규저장 -->
<insert id="join">
insert into member 
	( member_no,
	member_id,
	member_nickname,
	member_pw,
	member_email,
	member_gender,
	member_birthday,
	member_phone,
	member_name
	)
values ( seq_member_no.NEXTVAL, #{member_id}, #{member_nickname}, #{member_pw}, #{member_email}
		, #{member_gender}, TO_DATE(#{member_birthday},'yy.MM.dd'), #{member_phone},#{member_name} )
</insert>





<select id="address" resultType="String">
select member_address
from member 
where member_no = #{member_no}
</select>

<update id="charge">
update member
set
member_money = nvl(member_money, 0) + #{member_money}
where
member_no = #{member_no}
</update>

<select id="money" resultType="Integer">
select member_money
from member
where member_no = #{member_no}
</select>


</mapper>
	