<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.IPDDA"
        tools:targetApi="31">
        <activity
            android:name=".goodslist.GoodsListActivity"
            android:exported="false" />
        <activity
            android:name=".delivery.DeliveryActivity"
            android:exported="false" />
        <activity
            android:name=".goodsboard.GoodsBoardActivity"
            android:exported="false" />
        <activity
            android:name=".profile.ChangeInfoActivity"
            android:exported="false" />
        <activity
            android:name=".profile.CouponActivity"
            android:exported="false" />
        <activity
            android:name=".login.SignUpFirstActivity"
            android:exported="false" />
        <activity
            android:name=".profile.EditInfoActivity"
            android:exported="false" />
        <activity
            android:name=".profile.InquiryActivity"
            android:exported="false" />
        <activity
            android:name=".profile.QnAActivity"
            android:exported="false" />
        <activity
            android:name=".profile.OrderSearchActivity"
            android:exported="false" />
        <activity
            android:name=".login.SignUpActivity"
            android:exported="false" />
        <activity
            android:name=".login.FindActivity"
            android:exported="false" />
        <activity
            android:name=".profile.SubActivity"
            android:exported="false" />
        <activity
            android:name=".profile.SettingActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".login.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>